body {
  background: #0f5132;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 64px);
  gap: 8px;
  justify-content: center;
  margin: 20px auto;
  padding: 12px;
  background: black;
  border-radius: 12px;
}

.cell {
  width: 64px;
  height: 64px;
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell img {
  width: 56px;
  height: 56px;
}

button {
  padding: 12px 30px;
  font-size: 18px;
  background: gold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
